#content
{
    font-size: 20;
    display: flex;
}
ul
{
    background-color: rgb(239, 232, 232);
    list-style: none;
    padding: 0;
    margin: 0;
    width:130%;
    height: 250%;
}
li a{
    display: block;
    text-decoration: none;
    color: black;
    padding: 15%;
  
}
li a:hover
{
    background-color: green;
    color: #f7faf7;
}
li a.active
{
    background-color: rgb(120, 110, 110);
    color: white;
}
#main
{
    width:100%;
    background-color: rgb(212, 200, 200);
}